extends layout

block content
  div
    canvas#map
    canvas#x_border_1
    canvas#x_border_2
    canvas#x_border_3
    canvas#x_border_4

    canvas#y_border_1
    canvas#y_border_2
    canvas#y_border_2_5
    canvas#y_border_3
    canvas#y_border_4
    canvas#y_border_5
    canvas#y_border_6
    canvas#y_border_7
    canvas#y_border_8

  h1= title
  p Welcome to #{title}

  
